@model IEnumerable<University.Models.AnnouncementCategory>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

<h1>Danh sách</h1>

<p>
    <a asp-action="Create">Tạo mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoryId">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.CategoryId">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.CategoryId">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
